.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.center-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.user-image {
    max-width: 100px;
    max-height: 100px;
}

form {
    padding: 20px;
    border-radius: 10px;
}

.form-columns {
    display: flex;
    justify-content: space-between;
}

.form-column {
    flex: 1;
    margin: 0 10px;
    width: 48%; /* Adjust the width as needed */
}

.btn-primary {
    background-color: #3498db;
    color: #fff;
    border: none;
    margin-bottom: 2%;
}
.header {
    background-color: black;
    color: #a0a0a0; /* You can change the text color to ensure it's visible on a black background */
    /* padding: 10px; Add padding to adjust spacing */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
    border-radius: 10px; /* Add border radius to round the corners */
  }

