.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #ffffff;
}


form {
    padding: 20px;
    border-radius: 10px; 
}
.btn-primary {
    background-color: #3498db; ;
    color: #fff;
    border: none;
    margin-bottom: 2%;
  }

  .center-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Add spacing between the icon and the form elements */
}

.user-image {
    max-width: 100px; /* Adjust the maximum width as needed */
    max-height: 100px; /* Adjust the maximum height as needed */
}

.header {
    background-color: black;
    color: #a0a0a0; /* You can change the text color to ensure it's visible on a black background */
    /* padding: 10px; Add padding to adjust spacing */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
    border-radius: 10px; /* Add border radius to round the corners */
  }
  
  .alert-danger{
    width: 20%;
  }